<div class="body-head">
    <h2>ACTIVE ORDERS</h2>
</div>
<div class="body-cont">
    {% for order in orders %}
    <div class="body-card">
        <div class="card-cont">
            <div class="cont-info">
                <div class="card-head">
                    <h3>{{ order.order_by.name }}</h3>
                    <p>{{ order.order_by.city }}, {{ order.order_by.state }}</p>
                </div>
                <div class="card-date">
                    <p>Ordered On :<span>&nbsp;&nbsp;{{order.timestamp.date}}</span></p>
                    <p>Scheduled For :<span>&nbsp;&nbsp;{{order.scheduled_date}}</span></p>
                </div>
            </div>
            <div class="cont-btn" onclick="DeleteOrder( '{{order.id}}' , '{{order.order_by.name}}', '{{ order.order_by.city }}, {{ order.order_by.state }}', '{{order.timestamp.date}}')">
                <i class="fa-regular fa-trash-can"></i>
                <p>Delete</p>
            </div>
        </div>

        <details>
            <summary>
                <i class="fa-solid fa-chevron-down"></i>
                <h5>View Items</h5>
                <h6>Hide Items</h6>
            </summary>
            <div class="order-list">
                <table class="items-table">
                    <thead>
                        <tr>
                            <th class="first-item">Item Name</th>
                            <th>Weight</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in order_items%}
                        {% if items.order.id == order.id%}
                        <tr>
                            <td class="first-item">{{items.item.name}}</td>
                            <td>{{items.item.weight}} gm</td>
                            <td>{{items.ordered_quantity}} Box</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </details>

        {% if user_role == 'Dispatcher' %}
        <div class="card-btn">
            <button onclick="ChangeSchedule( '{{order.id}}' , '{{order.order_by.name}}', '{{ order.order_by.city }}, {{ order.order_by.state }}', '{{order.timestamp.date}}' )">
                <i class="fa-regular fa-calendar-days"></i>
                <p>Schedule Date</p>
            </button>
            <a href="{% url 'complete-order' order.id %}">
                <i class="fa-regular fa-circle-check"></i>
                <p>Mark Complete</p>
            </a>
        </div>
        {% endif %}

    </div>
    {% endfor %}
</div>